body {
	margin: 0px;
	text-align: center;
	background: black;
	background: url(backsplash_eb.jpg) no-repeat top center black;	
}}

#content {
	margin: auto;
	min-width: 1024px;
	min-height: 768px;
	width: 1024px;
}

#header {
	position: relative;
	text-align: right;
	right:  0px;	
}

#footer {
	position: absolute;
	bottom: 0px;
	right:  0px;
}

.infologo {
	width: 150px;
	height: 150px;
}