#content
  img#backgroundimg(src="/images/backsplash_eb.jpg")
  #header
    a(href='http://www.twitter.com/eandbdc')
      img.infologo(src='images/twitter.png',alt='twitter')
    a(href='mailto:info@eandbdcgroup.com')
      img.infologo(src='images/email.png',alt='email')
  #footer
    p.byline Photo By
      a(href="http://www.smoketoinkphoto.tumblr.com/") Smoke to Ink Design + Productions
  img.comingsoon(src="images/coming_soon.png")

