#content
  #header
    a(href='http://www.twitter.com/eandbdc')
      img.infologo(src='images/twitter.png',alt='twitter')
    a(href=href='mailto:info@eandbdcgroup.com')
      img.infologo(src='images/email.png',alt='email')
